<div class="container">
    <div class="row form-section">
            <form class="booking-form">
                <h1 class="center avenir">Create Panel</h1>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="form-label">Flying from</span>
                            <input class="form-control" type="text" [(ngModel)]="origin" name="origin" placeholder="City or airport">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="form-label">Flying to</span>
                            <input class="form-control" type="text" [(ngModel)]="destination" name="destination" placeholder="City or airport">
                        </div>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="form-label">Flight number</span>
                            <input class="form-control form-control-lg" type="text" [(ngModel)]="flightnumber" name="flightnumber" placeholder="eg. 123456">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="form-label">Departing</span>
                            <input class="form-control" type="date" [(ngModel)]="depart" name="depart" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="form-label">Returning</span>
                            <input class="form-control" type="date" [(ngModel)]="arrive" name="arrive" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 checkbox">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" (click)="toggleNonStop()" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label whiteSwitchLabel" for="customSwitch1">Nonstop</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-4">
                        <div class="form-btn">
                            <button class="submit-btn" (click)="sendFlight()">Add flight</button>
                        </div>
                    </div>
                </div>
            </form>

        
    </div>
</div>